<div *ngIf="!isMobile" class="main-container">
    <img class="img" src="/assets/img/contact-cover.jpg">
    <div style="width: 50%;">
        <div class="header"><span>{{"contact.title" | translate}}</span></div>
        <div class="content">
            <form nz-form [formGroup]="validateForm"  class="form-container">
                <div class="group-content">
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                        <div class="item" nz-col nzXs="24">
                            <div class="label">{{"contact.youAre" | translate}}<span class="mark-require">*</span>:</div>
                            <div *ngFor="let key of ['role']">
                                <nz-form-item>
                                    <nz-form-control >
                                        <nz-radio-group [formControlName]="key" nzName="radiogroup">
                                            <label nz-radio nzValue="owner">{{"contact.owner" | translate}}</label>
                                            <label nz-radio nzValue="renter">{{"contact.renter" | translate}}</label>
                                            <label nz-radio nzValue="other">{{"contact.other" | translate}}</label>
                                        </nz-radio-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="item" nz-col nzXs="24">
                            <div class="label">{{'contact.message' | translate}}<span class="mark-require">*</span>:</div>
                            <div *ngFor="let key of ['message']">
                                <nz-form-item>
                                    <nz-form-control >
                                        <textarea nz-input [formControlName]="key" [placeholder]="'contact.message' | translate" rows="5"></textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button">
                  <button nz-button class="login-form-button" [nzShape]="'round'" [nzType]="'primary'" (click)="onBtnAdd()">
                    <span nz-icon nzType="send" nzTheme="outline"></span>{{'add.confirm' | translate}}
                    <span *ngIf="isLoading" style="margin-left: 8px;" nz-icon nzType="loading" nzTheme="outline"></span>
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="isMobile" class="main-container-small">
    <div style="width: 80%;">
        <div>
            <form nz-form [formGroup]="validateForm" class="form-container-small">
                <div class="group-content">
                    <div class="header header-small"><span>{{"contact.title" | translate}}</span></div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                        <div class="item" nz-col nzXs="24">
                            <div class="label">{{"contact.youAre" | translate}}<span class="mark-require">*</span>:</div>
                            <div *ngFor="let key of ['role']">
                                <nz-form-item>
                                    <nz-form-control >
                                        <nz-radio-group [formControlName]="key" nzName="radiogroup">
                                            <label nz-radio nzValue="owner">{{"contact.owner" | translate}}</label>
                                            <label nz-radio nzValue="renter">{{"contact.renter" | translate}}</label>
                                            <label nz-radio nzValue="other">{{"contact.other" | translate}}</label>
                                        </nz-radio-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div class="item" nz-col nzXs="24">
                            <div class="label">{{'contact.message' | translate}}<span class="mark-require">*</span>:</div>
                            <div *ngFor="let key of ['message']">
                                <nz-form-item>
                                    <nz-form-control >
                                        <textarea nz-input [formControlName]="key" [placeholder]="'contact.message' | translate" rows="5"></textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <button nz-button class="login-form-button" [nzShape]="'round'" [nzType]="'primary'" (click)="onBtnAdd()">
                          <span nz-icon nzType="send" nzTheme="outline"></span>{{'add.confirm' | translate}}
                          <span *ngIf="isLoading" style="margin-left: 8px;" nz-icon nzType="loading" nzTheme="outline"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>