<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" class="content">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" class="form-container">
    <div class="title">{{"register.title" | translate}}</div>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <ng-container *ngFor="let key of ['name']">
        <div class="text-bold label">{{"register.fullName" | translate}}</div>
        <nz-form-item class="form-item">
          <nz-form-control [nzErrorTip]="'register.fullNameError' | translate">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input [formControlName]="key" [placeholder]="'register.fullName' | translate" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <ng-container *ngFor="let key of ['email']">
        <div class="text-bold label">Email</div>
        <nz-form-item class="form-item">
          <nz-form-control [nzErrorTip]="'register.emailError' | translate">
            <nz-input-group nzPrefixIcon="mail">
              <input type="email" nz-input [formControlName]="key" placeholder="Email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <ng-container *ngFor="let key of ['phoneNumber']">
        <div class="text-bold label">{{"register.phoneNumber" | translate}}</div>
        <nz-form-item class="form-item">
          <nz-form-control [nzErrorTip]="'register.phoneError' | translate">
            <nz-input-group nzPrefixIcon="phone">
              <input type="tel" nz-input [formControlName]="key" [placeholder]="'register.phoneNumber' | translate" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <ng-container *ngFor="let key of ['password']">
        <div class="text-bold">{{"register.password" | translate}}</div>
        <div class="label-password">* {{"register.instruction" | translate}}</div>
        <nz-form-item class="form-item">
          <nz-form-control [nzErrorTip]="'register.passwordError' | translate">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
              <input [type]="isShowPassword ? 'text' : 'password'" nz-input [formControlName]="key" [placeholder]="'register.password' | translate" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span nz-icon [nzType]="isShowPassword ? 'eye-invisible' : 'eye'" (click)="isShowPassword = !isShowPassword"></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <ng-container *ngFor="let key of ['confirmPassword']">
        <div class="text-bold label">{{"register.confirmPassword" | translate}}</div>
        <nz-form-item class="form-item">
          <nz-form-control [nzErrorTip]="'register.confirmPasswordError' | translate">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
              <input [type]="isShowPassword ? 'text' : 'password'" nz-input [formControlName]="key" [placeholder]="'register.confirmPassword' | translate" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span nz-icon [nzType]="isShowPassword ? 'eye-invisible' : 'eye'" (click)="isShowPassword = !isShowPassword"></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <button nz-button class="text-bold login-form-button login-form-margin" [nzType]="'primary'">
        <span nz-icon nzType="form" nzTheme="outline"></span>{{"register.signup" | translate}}
      </button>
      {{"register.or" | translate}}
      <span class="register-button text-bold" (click)="onLoginBtn()">{{"register.loginNow" | translate}}!</span>
    </form>
  </div>
</div>