<div>
    <div *ngIf="!submitted">
        <h3 nz-typography>Add Product</h3>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="saveProduct()">
            <nz-form-item>
                <nz-form-label [nzSpan]="11" nzRequired>Product Code</nz-form-label>
                <div class="row">
                    <nz-form-control nzHasFeedback [nzErrorTip]="productCodeErrorTpl">
                        <input placeholder="Product Code" nz-input formControlName="productCode" maxlength="6" oninput="this.value = this.value.toUpperCase()" />
                        <ng-template #productCodeErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">Please input product code!</ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">The product code has only numbers and characters!</ng-container>
                        </ng-template>
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="11" nzRequired>Product Name</nz-form-label>
                <div class="row">
                    <nz-form-control nzHasFeedback [nzErrorTip]="productNameErrorTpl">
                        <input placeholder="Product Name" nz-input formControlName="productName" />
                        <ng-template #productNameErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">Please input product name!</ng-container>
                        </ng-template>
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="11" nzRequired>Price</nz-form-label>
                <div class="row">
                    <nz-form-control nzHasFeedback [nzErrorTip]="priceErrorTpl">
                        <nz-input-number nz-input formControlName="price"></nz-input-number>
                        <ng-template #priceErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">Please input price!</ng-container>
                            <ng-container *ngIf="control.hasError('min')">Please input price higher than 0!</ng-container>
                        </ng-template>
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="11" nzRequired>Category Code</nz-form-label>
                <div class="row">
                    <nz-form-control nzHasFeedback [nzErrorTip]="categoryCodeErrorTpl">
                        <input nz-input placeholder="Category Code" formControlName="categoryCode" maxlength="6" oninput="this.value = this.value.toUpperCase()" />
                        <ng-template #categoryCodeErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">Please input category code!</ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">The category code has only numbers and characters!</ng-container>
                        </ng-template>
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nz-row class="btn">
                <nz-form-control [nzOffset]="11">
                    <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>

    <div *ngIf="submitted">
        <nz-result nzStatus="success" nzTitle="Successfully add a product!">
            <div nz-result-extra>
                <button nz-button nzType="primary" (click)="goList()">Go Product List</button>
                <button nz-button (click)="newProduct()">Add Again</button>
            </div>
        </nz-result>
    </div>
</div>