<div class="header">
    <span>Motel Detail</span>
    <div >
        <div *ngIf="!showSettingButton" class="button-container">
            <div *ngIf="!viewMode" class="btn-edit btn-cancel" (click)="cancelEdit()">
                <span nz-icon nzType="close" nzTheme="outline" style="margin-right: 8px;"></span>
                Cancel
            </div>
            <div *ngIf="viewMode && isOwner" class="btn-edit" (click)="goToEdit()">
                <span nz-icon nzType="edit" nzTheme="outline" style="margin-right: 8px;"></span>
                Edit
            </div>
            <div *ngIf="!viewMode" class="btn-edit" (click)="confirmUpdate($event)">
                <span nz-icon nzType="save" nzTheme="outline" style="margin-right: 8px;"></span>
                Save
                <span *ngIf="isLoading" style="margin-left: 8px;" nz-icon nzType="loading" nzTheme="outline"></span>
            </div>
            <div *ngIf="isOwner" class="btn-delete" (click)="confirmDelete()">
                <span nz-icon nzType="delete" nzTheme="outline" style="margin-right: 8px;"></span>
                Delete
                <span *ngIf="isLoading" style="margin-left: 8px;" nz-icon nzType="loading" nzTheme="outline"></span>
            </div>
            <div *ngIf="isRenter" class="btn-delete" (click)="confirmQuitMotel()">
                <span nz-icon nzType="rollback" nzTheme="outline" style="margin-right: 8px;"></span>
                Quit
                <span *ngIf="isLoading" style="margin-left: 8px;" nz-icon nzType="loading" nzTheme="outline"></span>
            </div>
        </div>
        <div *ngIf="showSettingButton" class="button-container">
            <div *ngIf="!viewMode" class="btn-edit btn-cancel" style="height: 22px; margin-right:8px; font-size: 14px;" (click)="cancelEdit()">
                <span nz-icon nzType="close" nzTheme="outline" style="margin-right: 8px;"></span>
                Cancel
            </div>
            <div *ngIf="isOwner" nz-dropdown [nzDropdownMenu]="menu" style="font-size: 14px; cursor: pointer;">
                <span nz-icon nzType="setting" nzTheme="outline" style="margin-right: 8px;"></span>
                Settting
                <span nz-icon nzType="down"></span>
            </div>
            <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <li nz-menu-item *ngIf="!viewMode" (click)="confirmUpdate($event)">
                    <span nz-icon nzType="save" nzTheme="outline" style="margin-right: 8px;"></span>
                    Save
                    <span *ngIf="isLoading" style="margin-left: 8px;" nz-icon nzType="loading" nzTheme="outline"></span>
                </li>
                <li nz-menu-item *ngIf="viewMode" (click)="goToEdit()">
                    <span nz-icon nzType="edit" nzTheme="outline" style="margin-right: 8px;"></span>
                    Edit
                </li>
                <li nz-menu-item nzDanger (click)="confirmDelete()">
                    <span nz-icon nzType="delete" nzTheme="outline" style="margin-right: 8px;"></span>
                    Delete
                    <span *ngIf="isLoading" style="margin-left: 8px;" nz-icon nzType="loading" nzTheme="outline"></span>
                </li>
                <li *ngIf="isRenter" nz-menu-item nzDanger (click)="confirmQuitMotel()">
                    <span nz-icon nzType="rollback" nzTheme="outline" style="margin-right: 8px;"></span>
                    Quit
                    <span *ngIf="isLoading" style="margin-left: 8px;" nz-icon nzType="loading" nzTheme="outline"></span>
                </li>
            </ul>
            </nz-dropdown-menu>
        </div>
    </div>
</div>
<div class="content">
    <div *ngIf="viewMode; else editable">
        <div *ngIf="motelData._id" style="padding: 24px;">
            <div class="group-detail" >
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                    <div class="item" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" style="margin-bottom: 10px;">
                        <div class="group-label">
                            <span style="margin-right: 16px;">{{motelData.roomName}}</span>
                            <nz-tag class="tag-status" [nzColor]="getTagColor()">{{getMotelDetail('roomStatus')}}</nz-tag>
                        </div>
                        <div class="label">{{getMotelDetail('roomType')}}</div>
                    </div>
                    <div class="item" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" [ngClass]="{'user-large': showUserLarge}">
                        <div class="user-small" nz-popover nzPopoverPlacement="topRight" [nzPopoverContent]="contentTemplate">
                            <img class="avatar-container" [src]="avatarUrl">
                            <span style="font-weight: 500;">{{userData.name}}</span>
                        </div>
                        <ng-template #contentTemplate>
                            <div class="user-more-info">
                                <div>
                                    <img class="user-avatar-info" [src]="avatarUrl">
                                </div>
                                <div>
                                    <div style="margin-bottom: 10px;">
                                        <span style="font-weight: 500;">{{userData.name}}</span>
                                        <span nz-icon nzType="copy" class="icon-copy" (click)="copyMessage(userData.name)"></span>
                                    </div>
                                    <div style="margin-bottom: 10px;">
                                        <span style="font-weight: 500;">Email: </span><span>{{userData.email}}</span>
                                        <span nz-icon nzType="copy" class="icon-copy" (click)="copyMessage(userData.email)"></span>
                                    </div>
                                    <div>
                                        <span style="font-weight: 500;">Phone number: </span><span>{{userData.phoneNumber}}</span>
                                        <span nz-icon nzType="copy" class="icon-copy" (click)="copyMessage(userData.phoneNumber)"></span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <div class="label">Uploader</div>
                    </div>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="group-detail" >
                <div class="group-label"><span nz-icon nzType="camera" style="margin-right: 8px;"></span>Motel Images</div>
                <div *ngIf="previews.length" class="image-number">{{this.currentIndex+1}}/{{previews.length}}</div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                    <div class="item" nz-col nzXs="24">
                        <div *ngIf="previews.length" class="image-container">
                            <div><span class="icon-watch-image" nz-icon nzType="left" nzTheme="outline" (click)="prevImage()"></span></div>
                            <nz-carousel nzEffect="scrollx" nzDotPosition="top" (nzBeforeChange)="onChangeImageIndex($event)">
                            <div nz-carousel-content *ngFor="let image of previews">
                                <img class="image-preview" [src]="image">
                            </div>
                            </nz-carousel>
                            <div><span class="icon-watch-image" nz-icon nzType="right" nzTheme="outline" (click)="nextImage()"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="group-detail" >
                <div class="group-label" style="margin-bottom: 8px;"><span nz-icon nzType="home" style="margin-right: 8px;"></span>Motel detail</div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                    <div class="item item-detail-container" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
                        <div class="item-detail">
                            <span nz-icon nzType="environment" style="margin-right: 8px;"></span>
                            <span class="bold">Address: </span><span>{{motelData?.location?.text}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="environment" style="margin-right: 8px;"></span>
                            <span class="bold">Location: </span><span>{{motelData?.address}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="drag" style="margin-right: 8px;"></span>
                            <span class="bold">Direction: </span><span>{{getMotelDetail('directions')}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="database" style="margin-right: 8px;"></span>
                            <span class="bold">Same house with owner: </span><span>{{getMotelDetail('sameHouseWithOwner')}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="database" style="margin-right: 8px;"></span>
                            <span class="bold">Requirements for renters: </span><span>{{getMotelDetail('renterRequirement')}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="database" style="margin-right: 8px;"></span>
                            <span class="bold">Parking area: </span><span>{{getMotelDetail('hasParkingArea')}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="database" style="margin-right: 8px;"></span>
                            <span class="bold">Number of air-conditioners: </span><span>{{motelData.numberOfAirConditioners}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="database" style="margin-right: 8px;"></span>
                            <span class="bold">Number of water-heaters: </span><span>{{motelData.numberOfWaterHeaters}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="database" style="margin-right: 8px;"></span>
                            <span class="bold">Number of washing machines: </span><span>{{motelData.numberOfWashingMachine}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="form" style="margin-right: 8px;"></span>
                            <span class="bold">Note: </span><span>{{motelData.note}}</span>
                        </div>
                    </div>
                    <div class="item item-detail-container" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
                        <div class="item-detail">
                            <span nz-icon nzType="expand" style="margin-right: 8px;"></span>
                            <span class="bold">Area (each floor): </span>
                            <span>{{motelData.area}}m<sup>2</sup></span> 
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="schedule" style="margin-right: 8px;"></span>
                            <span class="bold">Duration: </span><span>{{getMotelDetail('duration')}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="dollar" style="margin-right: 8px;"></span>
                            <span class="bold">Price/month: </span><span>{{motelData.price}} {{motelData.currencyUnit}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="dollar" style="margin-right: 8px;"></span>
                            <span class="bold">Deposit: </span><span>{{motelData.deposit}} {{motelData.currencyUnit}}</span>
                        </div >
                        <div class="item-detail">
                            <span nz-icon nzType="dollar" style="margin-right: 8px;"></span>
                            <span class="bold">Electric price/kWh: </span><span>{{getMotelDetail('electricPrice')}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="dollar" style="margin-right: 8px;"></span>
                            <span class="bold">Water Price/m<sup>3</sup>: </span><span>{{getMotelDetail('waterPrice')}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="database" style="margin-right: 8px;"></span>
                            <span class="bold">Number of wardrobes: </span><span>{{motelData.numberOfWardrobes}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="database" style="margin-right: 8px;"></span>
                            <span class="bold">Number of bathrooms: </span><span>{{motelData.numberOfBathrooms}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="database" style="margin-right: 8px;"></span>
                            <span class="bold">Number of bedrooms: </span><span>{{motelData.numberOfBedrooms}}</span>
                        </div>
                        <div class="item-detail">
                            <span nz-icon nzType="database" style="margin-right: 8px;"></span> 
                            <span class="bold">Number of beds: </span><span>{{motelData.numberOfBeds}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="group-detail" >
                <div class="group-label" style="margin-bottom: 16px;"><span nz-icon nzType="environment" style="margin-right: 8px;"></span>Motel Location</div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }">
                    <div class="item" nz-col nzXs="24">
                        <div map-component [latLng]="latLng" [enableClick]="false"></div>
                    </div>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="group-detail">
                <div class="group-label" style="margin-bottom: 16px;"><span nz-icon nzType="profile" style="margin-right: 8px;"></span>Uploader Information</div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                    <div class="item" nz-col nzXs="24" nzLg="12">
                        <div class="user-more-info">
                            <div>
                                <img class="user-avatar-info-large" [src]="avatarUrl">
                            </div>
                        </div>
                    </div>
                    <div class="item" nz-col nzXs="24" nzLg="12">
                        <div>
                            <div style="margin-bottom: 10px;">
                                <span style="font-weight: 500;">Name: </span><span>{{userData.name}}</span>
                                <span nz-icon nzType="copy" class="icon-copy" (click)="onBtnCopy(userData.name)"></span>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <span style="font-weight: 500;">Email: </span><span>{{userData.email}}</span>
                                <span nz-icon nzType="copy" class="icon-copy" (click)="onBtnCopy(userData.email)"></span>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <span style="font-weight: 500;">Phone number: </span><span>{{userData.phoneNumber}}</span>
                                <span nz-icon nzType="copy" class="icon-copy" (click)="onBtnCopy(userData.phoneNumber)"></span>
                            </div>
                            <div *ngFor="let key of ['dateOfBirth', 'hometown', 'address', 'job', 'linkFacebook']">
                                <div *ngIf="getUserData(key)" style="margin-bottom: 10px;">
                                    <span style="font-weight: 500;">{{getUserDataLabel(key)}}: </span><span>{{getUserData(key)}}</span>
                                    <span *ngIf="key == 'linkFacebook'" nz-icon nzType="copy" class="icon-copy" (click)="onBtnCopy(getUserData(key))"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="group-detail">
                <div class="group-label" style="margin-bottom: 16px;"><span nz-icon nzType="profile" style="margin-right: 8px;"></span>Renter Information</div>
                <div *ngIf="isOwner || isRenter" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                    <div class="user-selected" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" *ngFor="let user of renterList; let i = index">
                        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;" class="user-selected-container">
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8"><img class="user-avatar-info" [src]="getUserAvt(user)"></div>
                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="16">
                                <div style="margin-bottom: 10px;">
                                    <span style="font-weight: 500;">Name: </span><span>{{user.name}}</span>
                                    <span nz-icon nzType="copy" class="icon-copy" (click)="copyMessage(user.name)"></span>
                                </div>
                                <div style="margin-bottom: 10px;">
                                    <span style="font-weight: 500;">Email: </span><span>{{user.email}}</span>
                                    <span nz-icon nzType="copy" class="icon-copy" (click)="copyMessage(user.email)"></span>
                                </div>
                                <div style="margin-bottom: 10px;">
                                    <span style="font-weight: 500;">Phone number: </span><span>{{user.phoneNumber}}</span>
                                    <span nz-icon nzType="copy" class="icon-copy" (click)="copyMessage(user.phoneNumber)"></span>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isOwner && !isRenter" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                    <div class="user-selected" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12">
                        <span style="font-size: 16px;">{{renterList.length}} {{renterList.length == 1 ? 'renter' : 'renters'}}</span>
                    </div>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="group-detail">
                <div class="group-label" style="margin-bottom: 16px;">
                    <span nz-icon nzType="comment" style="margin-right: 8px;"></span>
                    <span>Reviews</span>
                    <div>
                        <nz-rate [ngModel]="totalRate" nzAllowHalf style="pointer-events: none; margin-right: 16px;"></nz-rate>
                        <span>{{totalRate}}/5</span>
                    </div>
                </div>
                <div *ngIf="isShowCommentInput">
                    <div class="group-label">Your review:</div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                        <div style=" margin-left: 16px;">
                            <nz-rate [(ngModel)]="rateScore" nzAllowHalf></nz-rate>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                        <nz-comment style="width:100%; margin-left: 16px;">
                            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="avatarAccount"></nz-avatar>
                            <nz-comment-content>
                              <nz-form-item>
                                <textarea [(ngModel)]="inputComment" nz-input rows="4"></textarea>
                              </nz-form-item>
                              <nz-form-item>
                                <button nz-button nzType="primary" [nzLoading]="isLoading" [disabled]="!inputComment" (click)="handleSubmit()">
                                  Add Comment
                                </button>
                              </nz-form-item>
                            </nz-comment-content>
                        </nz-comment>
                    </div>
                </div>
                <ng-container *ngFor="let comment of listCommentsPagination; let i = index">
                    <nz-comment [nzAuthor]="author" [nzDatetime]="dateTime">
                        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="comment.userAvatar"></nz-avatar>
                        <nz-comment-content>
                          <p style="font-size: 16px;">{{ comment.content }}</p>
                        </nz-comment-content>   
                    </nz-comment>
                    <ng-template #author>
                        <span style="font-size: 16px; margin-right: 8px;">{{comment.userName}}</span>
                        <nz-rate [(ngModel)]="comment.rate" nzAllowHalf style="pointer-events: none; line-height: 10px;"></nz-rate>
                    </ng-template>
                    <ng-template #dateTime>
                        <span style="font-size: 16px;">{{comment.time}}</span>
                    </ng-template>
                    <div *ngIf="isShowUpdateCommentButton(i)" class="button-container" style="justify-content:left; margin-left: 42px;">
                        <div style="cursor: pointer; margin-right: 16px;" (click)="onEditComment(i)">
                            <span nz-icon nzType="edit" nzTheme="outline" style="margin-right: 8px;"></span>Edit
                        </div>
                        <div style="cursor: pointer; color: #ff4d4f" (click)="confirmDeleteComment(i)">
                            <span nz-icon nzType="delete" nzTheme="outline" style="margin-right: 8px;"></span>Delete
                        </div>
                    </div>
                </ng-container>
                <div class="pagination" *ngIf="listComments.length">
                    <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="listComments.length" [nzPageSize]="5" [nzShowTotal]="rangeTemplate" nzSize="small"
                    (nzPageIndexChange)="onChangePageIndex()"></nz-pagination>
                    <ng-template #rangeTemplate let-range="range" let-total>
                        {{ range[0] }}-{{ range[1] }} of {{ total }} comments
                    </ng-template>  
                </div>
            </div>
        </div>
    
        <div *ngIf="!motelData._id ">
            <br />
            <p nz-typography>Cannot access this product.</p>
        </div>
    </div>
    
    <ng-template #editable>
        <div *ngIf="motelData._id" style="padding: 24px;">
            <form nz-form [formGroup]="validateForm">
                <div class="seperator"></div>
                <div class="group-content">
                    <div class="group-label"><span nz-icon nzType="home" style="margin-right: 8px;"></span>Motel Overview</div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                      <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Room type<span class="mark-require">*</span></div>
                        <div *ngFor="let key of ['roomType']">
                            <nz-form-item>
                            <nz-form-control >
                                <nz-select [formControlName]="key" [nzOptions]="roomTypeList" style="width:100%;" placeholder="Room type"
                                ></nz-select>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- <nz-select ngModel="room" [nzOptions]="roomTypeList" [ngModelOptions]="{standalone: true}" 
                          style="width:100%; margin-bottom: 24px;" (ngModelChange)="onChangeValue('roomType', $event)"></nz-select> -->
                      </div>
                      <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Room status<span class="mark-require">*</span></div>
                        <div *ngFor="let key of ['roomStatus']">
                            <nz-form-item>
                            <nz-form-control >
                                <nz-select [formControlName]="key" [nzOptions]="roomStatusList" style="width:100%;" placeholder="Room status"
                                ></nz-select>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- <nz-select ngModel="available" [nzOptions]="roomStatusList" [ngModelOptions]="{standalone: true}" 
                          style="width:100%; margin-bottom: 24px;" (ngModelChange)="onChangeValue('roomStatus', $event)"></nz-select> -->
                      </div>
                    </div>                                                 
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                      <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Room name<span class="mark-require">*</span></div>
                        <div *ngFor="let key of ['roomName']">
                          <nz-form-item>
                            <nz-form-control >
                              <input type="text" nz-input [formControlName]="key" placeholder="Room name" />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                      <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Number of floors (0 if not House)</div>
                        <div *ngFor="let key of ['numberOfFloors']">
                          <nz-form-item>
                            <nz-form-control >
                              <input type="number" nz-input [formControlName]="key" placeholder="Number of floors" />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                      <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Area (m<sup>2</sup> each floor)<span class="mark-require">*</span></div>
                        <div *ngFor="let key of ['area']" style="max-width: 600px;">
                          <nz-form-item>
                            <nz-form-control >
                              <input type="number" nz-input [formControlName]="key" placeholder="Area (each floor)" />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                      <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Duration</div>
                        <div *ngFor="let key of ['duration']">
                          <nz-form-item>
                            <nz-form-control >
                              <nz-select [formControlName]="key" [nzOptions]="durationList" style="width:100%;" placeholder="Duration"></nz-select>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="seperator"></div>
                <div class="group-content">
                    <div class="group-label"><span nz-icon nzType="dollar" style="margin-right: 8px;"></span>Price</div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                        <div class="label">Price/month (1000000 = 1 million)<span class="mark-require">*</span></div>
                        <div *ngFor="let key of ['price']" style="display: flex;">
                            <nz-form-item style="width: 60%" >
                            <nz-form-control>
                                <input type="number" nz-input [formControlName]="key" placeholder="Price"/>
                            </nz-form-control>
                            </nz-form-item>
                            <nz-form-item style="width: 40%; height: 32px;">
                            <nz-form-control >
                                <nz-select formControlName="currencyUnit" nzPlaceHolder="Unit" (ngModelChange)="onChangeValue('currencyUnit', $event)">
                                    <nz-option *ngFor="let unit of currencyUnits" [nzValue]="unit" [nzLabel]="unit"></nz-option>
                                </nz-select>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                        <div class="label">Deposit (1000000 = 1 million)<span class="mark-require">*</span></div>
                        <div *ngFor="let key of ['deposit']" style="display: flex;">
                            <nz-form-item style="width: 60%">
                            <nz-form-control >
                                <input type="number" nz-input [formControlName]="key" placeholder="Deposit"/>
                            </nz-form-control>
                            </nz-form-item>
                            <nz-select [ngModel]="selectedCurrencyUnits" [ngModelOptions]="{standalone:true}" nzDisabled style="width: 40%; height: 32px;"> 
                                <nz-option [nzValue]="selectedCurrencyUnits" [nzLabel]="selectedCurrencyUnits"></nz-option>
                            </nz-select>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                        <div class="label">Electric price/kWh (leave 0 if standard price)</div>
                        <div *ngFor="let key of ['electricPrice']" style="display: flex;">
                            <nz-form-item style="width: 60%">
                            <nz-form-control >
                                <input type="number" nz-input [formControlName]="key" placeholder="Electric price" />
                            </nz-form-control>
                            </nz-form-item>
                            <nz-select [ngModel]="selectedCurrencyUnits" [ngModelOptions]="{standalone:true}" nzDisabled style="width: 40%; height: 32px;"> 
                                <nz-option [nzValue]="selectedCurrencyUnits" [nzLabel]="selectedCurrencyUnits"></nz-option>
                            </nz-select>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                        <div class="label">Water price/m3 (leave 0 if standard price)</div>
                        <div *ngFor="let key of ['waterPrice']" style="display: flex;">
                            <nz-form-item style="width: 60%" >
                            <nz-form-control >
                                <input type="number" nz-input [formControlName]="key" placeholder="Water price" />
                            </nz-form-control>
                            </nz-form-item>
                            <nz-select [ngModel]="selectedCurrencyUnits" [ngModelOptions]="{standalone:true}" nzDisabled style="width: 40%; height: 32px;"> 
                                <nz-option [nzValue]="selectedCurrencyUnits" [nzLabel]="selectedCurrencyUnits"></nz-option>
                            </nz-select>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="seperator"></div>
                <div class="group-content">
                    <div class="group-label"><span nz-icon nzType="info-circle" style="margin-right: 8px;"></span>More Information</div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Direction</div>
                        <div *ngFor="let key of ['directions']">
                            <nz-form-item>
                            <nz-form-control >
                                <nz-select [formControlName]="key" [nzOptions]="directionList" style="width:100%;" placeholder="Direction"></nz-select>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Same house with owner</div>
                        <div *ngFor="let key of ['sameHouseWithOwner']">
                            <nz-form-item>
                            <nz-form-control >
                                <nz-select [formControlName]="key" [nzOptions]="yesNoList" style="width:100%;" placeholder="Direction"></nz-select>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Requirement for renters</div>
                        <div *ngFor="let key of ['renterRequirement']">
                            <nz-form-item>
                            <nz-form-control >
                                <nz-select [formControlName]="key" [nzOptions]="renterRequirementList" style="width:100%;" placeholder="Requirement for renters"
                                ></nz-select>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Parking area</div>
                        <div *ngFor="let key of ['hasParkingArea']">
                            <nz-form-item>
                            <nz-form-control >
                                <nz-select [formControlName]="key" [nzOptions]="yesNoList" style="width:100%;" placeholder="Parking area"></nz-select>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Number of washing machines</div>
                        <div *ngFor="let key of ['numberOfWashingMachine']">
                            <nz-form-item>
                            <nz-form-control >
                                <input type="number" nz-input [formControlName]="key" placeholder="Number of washing machines" />
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Number of air-conditioners</div>
                        <div *ngFor="let key of ['numberOfAirConditioners']">
                            <nz-form-item>
                            <nz-form-control >
                                <input type="number" nz-input [formControlName]="key" placeholder="Number of air-conditioners" />
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Number of water-heaters</div>
                        <div *ngFor="let key of ['numberOfWaterHeaters']">
                            <nz-form-item>
                            <nz-form-control >
                                <input type="number" nz-input [formControlName]="key" placeholder="Number of water-heaters" />
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Number of wardrobes</div>
                        <div *ngFor="let key of ['numberOfWardrobes']">
                            <nz-form-item>
                            <nz-form-control >
                                <input type="number" nz-input [formControlName]="key" placeholder="Number of wardrobes" />
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Number of bathrooms</div>
                        <div *ngFor="let key of ['numberOfBathrooms']">
                            <nz-form-item>
                            <nz-form-control >
                                <input type="number" nz-input [formControlName]="key" placeholder="Number of bathrooms" />
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Number of bedrooms</div>
                        <div *ngFor="let key of ['numberOfBedrooms']">
                            <nz-form-item>
                            <nz-form-control >
                                <input type="number" nz-input [formControlName]="key" placeholder="Number of bedrooms" />
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Number of beds</div>
                        <div *ngFor="let key of ['numberOfBeds']">
                            <nz-form-item>
                            <nz-form-control >
                                <input type="number" nz-input [formControlName]="key" placeholder="Number of beds" />
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                        <div class="label">Note</div>
                        <div *ngFor="let key of ['note']">
                            <nz-form-item>
                            <nz-form-control >
                                <textarea nz-input [formControlName]="key" placeholder="Note" nzAutosize></textarea>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="seperator"></div>
                <div class="group-content">
                    <div class="group-label"><span nz-icon nzType="environment" style="margin-right: 8px;"></span>Motel Location</div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                        <div class="label">Address (House number, Street)<span class="mark-require">*</span></div>
                        <div *ngFor="let key of ['address']">
                            <nz-form-item>
                            <nz-form-control >
                                <input type="text" nz-input [formControlName]="key" placeholder="Address" />
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                        <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                        <div class="label">Location<span class="mark-require">*</span></div>
                        <div *ngFor="let key of ['location']">
                            <nz-form-item>
                            <nz-form-control >
                                <nz-cascader [nzOptions]="provinceList" [ngModelOptions]="{standalone: true}" [(ngModel)]="location" [nzShowSearch]="true"
                                class="form-location-picker" nzPlaceHolder="Location"></nz-cascader>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                        <div class="item" nz-col nzXs="24">
                        <div style="margin-bottom: 10px;">Click in the map to choose the location of your room</div>
                            <nz-form-item>
                            <nz-form-control >
                                <div map-component [latLng]="latLng" (placeChanged)="onPlaceChange($event)"></div>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <div class="seperator"></div>
                <div class="group-content">
                    <div class="group-label"><span nz-icon nzType="camera" style="margin-right: 8px;"></span>Motel Images</div>
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                        <div class="item" nz-col nzXs="24">
                            <div style="margin-bottom: 10px; font-size: 16px;">Upload room images (at least 1 image)</div>
                            <div *ngIf="previews.length" class="image-number">{{this.currentIndex+1}}/{{previews.length}}</div>
                            <div *ngIf="previews.length" class="image-container">
                                <div><span class="icon-watch-image" nz-icon nzType="left" nzTheme="outline" (click)="prevImage()"></span></div>
                                <nz-carousel nzEffect="scrollx" nzDotPosition="top" (nzBeforeChange)="onChangeImageIndex($event)">
                                <div nz-carousel-content *ngFor="let image of previews">
                                    <img class="image-preview" [src]="image">
                                </div>
                                </nz-carousel>
                                <div><span class="icon-watch-image" nz-icon nzType="right" nzTheme="outline" (click)="nextImage()"></span></div>
                            </div>
                            <div class="button-image-container" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                                <div class="image-button label" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                                <label for="many-files">
                                    <div class="choose-image-button label">
                                    <span>Upload images</span>
                                    </div>
                                </label>
                                <input type="file" id="many-files" class="hidden" accept="image/png, image/jpeg" multiple (change)="onChangeImage($event)">
                                </div>
                                <div class="image-button label" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                                <div class="choose-image-button danger-button label" (click)="confirmDeleteImage('one')">
                                    <span>Delete this image</span>
                                </div>
                                </div>
                                <div class="image-button label" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                                <div class="choose-image-button danger-button label" (click)="confirmDeleteImage('all')">
                                    <span>Delete all images</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="seperator"></div>
                <div class="group-content" style="padding-bottom: 16px;">
                    <div class="group-label">
                        <span nz-icon nzType="user-add" style="margin-right: 8px;"></span>
                        Add renters
                    </div>
                    <div>You can ignore this field if the room has not been rented yet.</div>
                    <div add-renter-component [selectedUserList]="renterList" (renterListChanged)="onRenterListChanged($event)"></div>
                </div>
            </form>
        </div>
    
        <div *ngIf="!motelData._id ">
            <br />
            <p nz-typography>Cannot access this product.</p>
        </div>
    </ng-template>
</div>