<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" class="content">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" class="form-container">
    <div class="title">Account verified</div>
    <span>Your account is verified successfully. Now you can sign in to <strong><a (click)="onLoginBtn()">StayEase</a></strong> and use our service.</span>
    <button nz-button class="login-form-button" [nzShape]="'round'" [nzType]="'primary'" (click)="onLoginBtn()">
      <span nz-icon nzType="login" nzTheme="outline"></span>Sign in
    </button>
  </div>
</div>