
<div class="container">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" class="main-content">
    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="8">
      <div class="form-label">Search</div>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Search by room name or address" 
        [(ngModel)]="searchKeyword" (keyup.enter)="onSearch()"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span *ngIf="searchKeyword" nz-icon nzType="close-circle" class="icon-delete" (click)="onClearSearch()"></span>
        <span nz-icon nzType="search" style="cursor: pointer" (click)="onSearch()"></span>
      </ng-template>
    </div>
    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6">
        <div class="form-label">Room type</div>
        <nz-select [(ngModel)]="roomType" [nzOptions]="roomTypeList" [nzAllowClear]="true" style="width:100%;" nzPlaceHolder="Room type" 
        (ngModelChange)="onSearch()"></nz-select>
    </div>
    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="10" style="margin-top: 8px; display: flex;">
      <div>
        <div class="form-label" style="height: 14px;"></div>
        <button nz-button [nzType]="countFilter ? 'primary' : 'default'" (click)="showModal()" style="margin-right: 16px;">
          <span nz-icon nzType="filter"></span>More filters<span *ngIf="countFilter" style="margin-left: 8px;">({{countFilter}})</span>
        </button>
        
        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="More filters"
          [nzStyle]="{ 'width': 'auto' }"
          nzOkText="Apply"
          nzCancelText="Cancel"
          (nzOnOk)="handleOk()"
          (nzOnCancel)="handleCancel()"
        >
          <ng-container *nzModalContent>
            <form nz-form [formGroup]="validateForm">     
              <div *ngIf="isBtnAddFilter" style="margin-bottom: 16px;">
                <div class="group-label"><span nz-icon nzType="filter" style="margin-right: 8px;"></span>Filters</div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                  <div class="item" nz-col nzXs="24" nzLg="12">
                    <div class="label">Filter name</div>
                      <input type="text" nz-input placeholder="Filter Name" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="filterName"/>
                  </div>
                </div>
              </div>
              <div>
                <div class="group-label" style="display: flex; justify-content: space-between; margin-right: 24px;">
                  <div><span nz-icon nzType="home" style="margin-right: 8px;"></span>Motel Overview</div>
                  <button nz-button nzDanger nzType="default" (click)="onClearInput()">
                    <span nz-icon nzType="clear"></span>Clear filters
                  </button>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                  <div class="item" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6">
                    <div class="label">Room status</div>
                    <div *ngFor="let key of ['roomStatus']">
                      <nz-form-item>
                        <nz-form-control >
                          <nz-select [formControlName]="key" [nzOptions]="roomStatusList" style="width:100%;" 
                          [nzAllowClear]="true" nzPlaceHolder="Room status"></nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div class="item" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6">
                    <div class="label">Area (m<sup>2</sup> each floor)</div>
                    <div *ngFor="let key of ['area']">
                      <nz-form-item>
                        <nz-form-control >
                          <nz-select [formControlName]="key" [nzOptions]="areaOptionList" style="width:100%;"
                          [nzAllowClear]="true" nzPlaceHolder="Area (m2 each floor)"></nz-select>
                          <!-- <input type="number" nz-input [formControlName]="key" style="width:100%;" placeholder="Area (each floor)" /> -->
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div class="item" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6">
                    <div class="label">Rate</div>
                    <div *ngFor="let key of ['rate']" style="display: flex;">
                      <nz-form-item style="width: 100%" >
                        <nz-form-control>
                          <nz-select [formControlName]="key" [nzOptions]="rateOptionList" style="width:100%;"
                          [nzAllowClear]="true" nzPlaceHolder="Rate"></nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div class="item" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6">
                    <div class="label">Price/month (million VND)</div>
                    <div *ngFor="let key of ['price']" style="display: flex;">
                      <nz-form-item style="width: 100%" >
                        <nz-form-control>
                          <nz-slider nzRange [nzTipFormatter]="formatter" [nzMax]="15" [nzMin]="0" [nzStep]="0.5" 
                          [nzMarks]="marks" [formControlName]="key"></nz-slider>
                          <!-- <input type="number" nz-input [formControlName]="key" placeholder="Price"/> -->
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-bottom: 16px;">
                <div class="group-label"><span nz-icon nzType="environment" style="margin-right: 8px;"></span>Location</div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                  
                  <div class="item" nz-col nzXs="24" nzLg="12">
                    <div class="label">Location</div>
                    <div *ngFor="let key of ['location']">
                      <nz-form-item>
                        <nz-form-control >
                          <nz-cascader [nzOptions]="provinceList" [ngModelOptions]="{standalone: true}" [(ngModel)]="location" [nzShowSearch]="true"
                            class="form-location-picker" nzPlaceHolder="Location"></nz-cascader>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="group-label"><span nz-icon nzType="info-circle" style="margin-right: 8px;"></span>More Information</div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%; margin-bottom: 8px;">
                  <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                    <div class="label">Direction</div>
                    <div *ngFor="let key of ['directions']">
                      <nz-form-item>
                        <nz-form-control >
                          <nz-select [formControlName]="key" [nzOptions]="directionList" style="width:100%;"
                          [nzAllowClear]="true" nzPlaceHolder="Direction"></nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                    <div class="label">Requirement for renters</div>
                    <div *ngFor="let key of ['renterRequirement']">
                      <nz-form-item>
                        <nz-form-control >
                          <nz-select [formControlName]="key" [nzOptions]="renterRequirementList" style="width:100%;" 
                          [nzAllowClear]="true" nzPlaceHolder="Requirement for renters"></nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                    <div class="label">Same house with owner</div>
                    <div *ngFor="let key of ['sameHouseWithOwner']">
                      <nz-form-item>
                        <nz-form-control >
                          <nz-radio-group [formControlName]="key" nzName="radiogroup">
                            <label nz-radio nzValue="1">Có</label>
                            <label nz-radio nzValue="0">Không</label>
                            <label class="clear-button" (click)="onBtnClearRadio(key)">Clear</label>
                          </nz-radio-group>
                          <!-- <nz-select [formControlName]="key" [nzOptions]="yesNoList" style="width:100%;" placeholder="Direction"></nz-select> -->
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                    <div class="label">Parking area</div>
                    <div *ngFor="let key of ['hasParkingArea']">
                      <nz-form-item>
                        <nz-form-control >
                          <nz-radio-group [formControlName]="key" nzName="radiogroup">
                            <label nz-radio nzValue="1">Có</label>
                            <label nz-radio nzValue="0">Không</label>
                            <label class="clear-button" (click)="onBtnClearRadio(key)">Clear</label>
                          </nz-radio-group>
                          <!-- <nz-select [formControlName]="key" [nzOptions]="yesNoList" style="width:100%;" placeholder="Parking area"></nz-select> -->
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                  <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                    <div class="label">Number of bedrooms</div>
                    <div *ngFor="let key of ['numberOfBedrooms']">
                      <nz-form-item>
                        <nz-form-control >
                          <nz-select [formControlName]="key" [nzOptions]="numberOptionList" style="width:100%;"
                          [nzAllowClear]="true" nzPlaceHolder="Number of bedrooms"></nz-select>
                          <!-- <input type="number" nz-input [formControlName]="key" placeholder="Number of bedrooms" /> -->
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                    <div class="label">Number of bathrooms</div>
                    <div *ngFor="let key of ['numberOfBathrooms']">
                      <nz-form-item>
                        <nz-form-control >
                          <nz-select [formControlName]="key" [nzOptions]="numberOptionList" style="width:100%;"
                          [nzAllowClear]="true" nzPlaceHolder="Number of bathrooms"></nz-select>
                          <!-- <input type="number" nz-input [formControlName]="key" placeholder="Number of bathrooms" /> -->
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                    <div class="label">Number of air-conditioners</div>
                    <div *ngFor="let key of ['numberOfAirConditioners']">
                      <nz-form-item>
                        <nz-form-control >
                          <nz-select [formControlName]="key" [nzOptions]="numberOptionList" style="width:100%;"
                          [nzAllowClear]="true" nzPlaceHolder="Number of air-conditioners"></nz-select>
                          <!-- <input type="number" nz-input [formControlName]="key" placeholder="Number of air-conditioners" /> -->
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
                    <div class="label">Number of water-heaters</div>
                    <div *ngFor="let key of ['numberOfWaterHeaters']">
                      <nz-form-item>
                        <nz-form-control >
                          <nz-select [formControlName]="key" [nzOptions]="numberOptionList" style="width:100%;"
                          [nzAllowClear]="true" nzPlaceHolder="Number of water-heaters"></nz-select>
                          <!-- <input type="number" nz-input [formControlName]="key" placeholder="Number of water-heaters" /> -->
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-container>
        </nz-modal>
      </div>
      <div>
        <div class="form-label" style="height: 14px;"></div>
        <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzPlacement="bottomRight">
          <span nz-icon nzType="bars" nzTheme="outline"></span>List filters
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu class="list-container">
            <li nz-menu-item class="filter-item" (click)="onDefaultFilter()">
              <span>Default filter</span>
            </li>
            <li nz-menu-item *ngFor="let item of this.listFilterData.list; let i = index" class="filter-item">
              <span>{{item.name}}</span>
              <div style="display: flex;">
                <span nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit" style="margin-left: 10px;"></span>
                <span nz-icon nzType="delete" nz-tooltip nzTooltipTitle="Remove" style="margin-left: 10px; color: #ff4d4f;"></span>
              </div>
            </li>
          </ul>
          <div class="list-button-container">
            <div class="list-button" (click)="onBtnAddFilter()">
              <span nz-icon nzType="plus" nzTheme="outline" style="margin-right: 10px;"></span>
              <span>Add new filter</span>
            </div>
            <div class="list-button">
              <span nz-icon nzType="save" nzTheme="outline" style="margin-right: 10px;"></span>
              <span>Save this filter</span>
            </div>
          </div>
        </nz-dropdown-menu>
      </div>
    </div>
    
      
  </div>
</div>