<div class="header">
    <span>{{'payment.title' | translate}}</span>
    <button nz-button (click)="openModal()"><span nz-icon nzType="plus"></span>{{'payment.addBill' | translate}}</button>
</div>
<div class="seperator"></div>

<div class="content">
    <nz-tabset nzCentered [nzSelectedIndex]="tabIndex" (nzSelectedIndexChange)="onTabIndexChange($event)" style="padding: 0 24px;">
        <nz-tab class="title" [nzTitle]="'payment.all' | translate"></nz-tab>
        <nz-tab class="title" [nzTitle]="'payment.paid' | translate"></nz-tab>
        <nz-tab class="title" [nzTitle]="'payment.notPaid' | translate"></nz-tab>
    </nz-tabset>
    <div class="list-bill">
        <div class="bill-container" *ngFor="let bill of billData; let i = index">
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
                <div class="bill-info" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
                    <div><span class="label">{{'payment.name' | translate}}: </span>{{bill.content}}</div>
                    <div><span class="label">{{'payment.roomName' | translate}}: </span>{{bill.motel.roomName}}</div>
                    <div><span class="label">{{'payment.ownerName' | translate}}: </span>{{bill.user.name}}</div>
                    <div><span class="label">{{'payment.expiredDate' | translate}}: </span>{{getFormValue('expiryDate', bill)}}</div>
                    <div><span class="label">{{'payment.descriptionLabel' | translate}}: </span>{{bill.description}}</div>
                </div>
                <div class="bill-info" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
                    <div class="label">{{'payment.payments' | translate}}</div>
                    <div><span class="label">{{'payment.total' | translate}}: </span>{{getFormValue('amount', bill)}}</div>
                    <ul style="padding-left: 24px;">
                        <li *ngFor="let payment of bill.paymentList">
                            <div><span class="label">{{payment.name}}: </span>{{getFormValue('amount', payment)}}</div>
                        </li>
                    </ul>
                </div>
                <div class="bill-info" nz-col nzXs="16" nzSm="12" nzLg="5">
                    <div style="margin-bottom: 8px;">
                        <span class="label">{{'payment.status' | translate}}: </span>
                        <span [ngClass]="{'paid': bill.status == 'paid', 'unpaid': bill.status == 'unpaid'}">{{getFormValue('status', bill)}}</span>
                    </div>
                    <button *ngIf="isShowBtnPay(bill)" class="btn-pay" nz-button nzType="primary" (click)="onPay(bill)">
                        {{'payment.pay' | translate}}
                    </button>
                </div>
                <div class="bill-info" nz-col nzXs="8" nzSm="12" nzLg="3" style="display: flex; flex-direction: column;">
                    <button *ngIf="isOwner(bill) && bill.status == 'unpaid'" nz-button nzType="primary" class="btn-edit" (click)="confirmUpdate(i)">
                        <span nz-icon nzType="edit" nzTheme="outline" style="margin-right: 8px;"></span>
                        {{'detail.edit' | translate}}
                    </button>
                    <button *ngIf="isOwner(bill) || isAdmin" nz-button nzDanger nzType="primary" class="btn-delete" (click)="confirmDelete(bill)">
                        <span nz-icon nzType="delete" nzTheme="outline" style="margin-right: 8px;"></span>
                        {{'detail.delete' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="!billData.length && !isLoading" style="display: flex; justify-content: center; width: 100%;">
            <nz-result nzStatus="404" [nzTitle]="'payment.noPayments' | translate" 
            [nzSubTitle]="'payment.noPaymentsContent' | translate">
            </nz-result>
        </div>
        <div *ngIf="isLoading" class="nodata"><nz-spin nzSimple [nzSize]="'large'"></nz-spin></div>
        <div class="pagination" *ngIf="billData.length">
            <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="total" [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate" [nzSize]="'small'"
            (nzPageIndexChange)="onChangePageIndex()"></nz-pagination>
            <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} of {{ total }} {{'payment.bill' | translate}}
            </ng-template>  
        </div>
    </div>
</div>

<nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="'payment.addBill' | translate"
    [nzOkText]="'userList.addUserConfirm' | translate"
    [nzCancelText]="'login.cancelLabel' | translate"
    [nzWidth]="680"
    (nzOnOk)="handleOk()"
    (nzOnCancel)="handleCancel()"
>
    <ng-container *nzModalContent>
        <div add-bill [confirm]="isConfirmAddBill" [formBill]="formBill" [isEditBill]="isEditBill"
        (onAddBill)="onAddBill()" (onAddBillFail)="onAddBillFail()"></div>
    </ng-container>
</nz-modal>