<div class="header"><span>Profile</span></div>

<div class="container">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" class="main-content">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="14">
      <form nz-form [formGroup]="validateForm">
        <div class="item" nz-col nzXs="24">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width: 100%;">
            <div class="label" nz-col nzXs="24" nzSm="5">Name<span *ngIf="isEdit" class="mark-require">*</span>:</div>
            <div *ngFor="let key of ['name']" nz-col nzXs="24" nzSm="19" style="max-width: 600px;">
              <nz-form-item *ngIf="isEdit">
                <nz-form-control >
                  <input type="text" nz-input [formControlName]="key" placeholder="Full name" />
                </nz-form-control>
              </nz-form-item>
              <div *ngIf="!isEdit">{{getFormValue(key)}}</div>
            </div>
          </div>
        </div>
        <div class="item" nz-col nzXs="24">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width: 100%;">
            <div class="label" nz-col nzXs="24" nzSm="5">Email:</div>
            <div *ngFor="let key of ['email']" nz-col nzXs="24" nzSm="19" style="max-width: 600px;">
              <nz-form-item *ngIf="isEdit">
                <nz-form-control >
                  <input type="text" nz-input [formControlName]="key" placeholder="Email" />
                </nz-form-control>
              </nz-form-item>
              <div *ngIf="!isEdit">{{getFormValue(key)}}</div>
            </div>
          </div>
        </div>
        <div class="item" nz-col nzXs="24">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width: 100%;">
            <div class="label" nz-col nzXs="24" nzSm="5">Date of birth:</div>
            <div *ngFor="let key of ['dateOfBirth']" nz-col nzXs="24" nzSm="19" style="max-width: 600px;">
              <nz-form-item *ngIf="isEdit">
                <nz-form-control >
                  <nz-date-picker class="form-date-picker" [formControlName]="key" nzFormat="dd/MM/yyyy" nzPlaceHolder="Date of birth">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
              <div *ngIf="!isEdit">{{getFormValue(key)}}</div>
            </div>
          </div>
        </div>
        <div class="item" nz-col nzXs="24">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width: 100%;">
            <div class="label" nz-col nzXs="24" nzSm="5">Phone<span *ngIf="isEdit" class="mark-require">*</span>:</div>
            <div *ngFor="let key of ['phoneNumber']" nz-col nzXs="24" nzSm="19" style="max-width: 600px;">
              <nz-form-item *ngIf="isEdit">
                <nz-form-control >
                  <input type="text" nz-input [formControlName]="key" placeholder="Phone number" />
                </nz-form-control>
              </nz-form-item>
              <div *ngIf="!isEdit">{{getFormValue(key)}}</div>
            </div>
          </div>
        </div>
        <div class="item" nz-col nzXs="24">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width: 100%;">
            <div class="label" nz-col nzXs="24" nzSm="5">Hometown:</div>
            <div *ngFor="let key of ['hometown']" nz-col nzXs="24" nzSm="19">
              <nz-form-item *ngIf="isEdit">
                <nz-form-control >
                  <nz-cascader [nzOptions]="provinceList" [ngModelOptions]="{standalone: true}" [(ngModel)]="location[key]" [nzShowSearch]="true"
                    class="form-location-picker" nzPlaceHolder="Hometown"></nz-cascader>
                </nz-form-control>
              </nz-form-item>
              <div *ngIf="!isEdit">{{getFormValue(key)}}</div>
            </div>
          </div>
        </div>
        <div class="item" nz-col nzXs="24">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width: 100%;">
            <div class="label" nz-col nzXs="24" nzSm="5">Address:</div>
            <div *ngFor="let key of ['address']" nz-col nzXs="24" nzSm="19">
              <nz-form-item *ngIf="isEdit">
                <nz-form-control >
                  <nz-cascader [nzOptions]="provinceList" [ngModelOptions]="{standalone: true}" [(ngModel)]="location[key]" [nzShowSearch]="true"
                    class="form-location-picker" nzPlaceHolder="Address"></nz-cascader>
                </nz-form-control>
              </nz-form-item>
              <div *ngIf="!isEdit">{{getFormValue(key)}}</div>
            </div>
          </div>
        </div>
        <div class="item" nz-col nzXs="24">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width: 100%;">
            <div class="label" nz-col nzXs="24" nzSm="5">Job:</div>
            <div *ngFor="let key of ['job']" nz-col nzXs="24" nzSm="19" style="max-width: 600px;">
              <nz-form-item *ngIf="isEdit">
                <nz-form-control >
                  <input type="text" nz-input [formControlName]="key" placeholder="Job" />
                </nz-form-control>
              </nz-form-item>
              <div *ngIf="!isEdit">{{getFormValue(key)}}</div>
            </div>
          </div>
        </div>
        <div class="item" nz-col nzXs="24">
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width: 100%;">
            <div class="label" nz-col nzXs="24" nzSm="5">Link Facebook:</div>
            <div *ngFor="let key of ['linkFacebook']" nz-col nzXs="24" nzSm="19" style="max-width: 600px;">
              <nz-form-item *ngIf="isEdit">
                <nz-form-control >
                  <input type="text" nz-input [formControlName]="key" placeholder="Link Facebook" />
                </nz-form-control>
              </nz-form-item>
              <div *ngIf="!isEdit">{{getFormValue(key)}}</div>
            </div>
          </div>
        </div>
      </form>
      <div class="button">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
          <div class="item" nz-col nzXs="12" nzSm="6" nzMd="6" nzLg="6">
            <button nz-button class="login-form-button label" [nzShape]="'round'" [nzType]="'primary'" (click)="onBtnEdit()">
              <span nz-icon [nzType]="isEdit ? 'save' : 'edit'" nzTheme="outline"></span>
              {{isEdit ? 'Save' : 'Edit'}}
              <span *ngIf="isLoading" style="margin-left: 8px;" nz-icon nzType="loading" nzTheme="outline"></span>
            </button>
          </div>
          <div class="item" nz-col nzXs="12" nzSm="6" nzMd="6" nzLg="6">
            <div *ngIf="isEdit" class="btn-cancel" (click)="cancelEdit()">
              <span nz-icon nzType="close" nzTheme="outline" style="margin-right: 8px;"></span>
              Cancel
            </div>
          </div>
          <div class="item" nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
            <button nz-button class="login-form-button label" [nzShape]="'round'" [nzType]="'primary'" (click)="onBtnChangePassword()">
              <span nz-icon nzType="lock" nzTheme="outline"></span>
              Change Password
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="10">
      <div class="item-avatar">
        <div class="label"><span nz-icon nzType="file-image" style="margin-right: 8px;" ></span>Avatar</div>
        <div style="width: 100%;">
          <img class="avatar-container" [src]="avatarUrl">
          <div class="button-container">
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width: 75%;">
              <div class="item" nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12">
                <button nz-button class="save-image-button label" [disabled]="loading"
                  [nzShape]="'round'" [nzType]="'primary'" (click)="onBtnSaveImage()">
                  <span>Save image</span>
                  <span *ngIf="loading" style="margin-left: 8px;" nz-icon nzType="loading" nzTheme="outline"></span>
                </button>
              </div>
              <div class="item" nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12">
                <button nz-button class="save-image-button label" [disabled]="loading"
                  [nzShape]="'round'" nzDanger [nzType]="'primary'" (click)="confirmDelete()">
                  <span>Delete image</span>
                  <span *ngIf="loading" style="margin-left: 8px;" nz-icon nzType="loading" nzTheme="outline"></span>
                </button>
              </div>
              <div class="item" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24">
                <nz-form-item style="margin-bottom: 16px;">
                  <nz-form-control>
                    <label for="files">
                      <div class="choose-image-button label">
                        <span>Choose image</span>
                      </div>
                    </label>
                    <input type="file" id="files" class="hidden" accept="image/png, image/jpeg" (change)="onChangeImage($event)">
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Change password"
      nzOkText="Save"
      nzCancelText="Cancel"
      [nzWidth]="400"
      [nzOkLoading] = "isLoading"
      (nzOnOk)="handleOk()"
      (nzOnCancel)="handleCancel()"
    >
      <ng-container *nzModalContent>
        <ng-container *ngFor="let key of ['oldPassword']">
          <div class="text-bold label">Old password</div>
          <nz-form-item class="form-item">
            <nz-form-control>
              <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                <input [type]="isShowPassword ? 'text' : 'password'" nz-input [(ngModel)]="objectChangePassword.oldPassword" placeholder="Old password" />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <span nz-icon [nzType]="isShowPassword ? 'eye-invisible' : 'eye'" (click)="isShowPassword = !isShowPassword"></span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngFor="let key of ['newPassword']">
          <div class="text-bold label">New password</div>
          <div class="label-password">* Password should contain at least 8 characters including at least 1 lowercase letter, 1 capital letter, 1 number, and 1 special character</div>
          <nz-form-item class="form-item">
            <nz-form-control>
              <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                <input [type]="isShowPassword ? 'text' : 'password'" nz-input [(ngModel)]="objectChangePassword.newPassword" placeholder="New password" />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <span nz-icon [nzType]="isShowPassword ? 'eye-invisible' : 'eye'" (click)="isShowPassword = !isShowPassword"></span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
        <ng-container *ngFor="let key of ['confirmPassword']">
          <div class="text-bold label">Confirm password</div>
          <nz-form-item class="form-item">
            <nz-form-control>
              <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                <input [type]="isShowPassword ? 'text' : 'password'" nz-input [(ngModel)]="objectChangePassword.confirmPassword" placeholder="Confirm password" />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <span nz-icon [nzType]="isShowPassword ? 'eye-invisible' : 'eye'" (click)="isShowPassword = !isShowPassword"></span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </ng-container>
  </nz-modal>
</div>