.container {
  margin: 0 !important;
  padding: 24px;
}

.header{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.main-content{
  display: flex;
}

.login-form {
  min-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-height: 360px;
  border-radius: 8px;
  padding: 24px !important;
}

.register-button {
  text-decoration: underline;
  cursor: pointer;
}

.title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}


.item {
  margin-bottom: 16px;
  height: 32px;
}

.label {
  font-weight: 500;
}

.button {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.form-date-picker, .form-location-picker {
  width: 100%;
}

.mark-require{
  width: 10px;
  display: inline-block;
  line-height: 1;
  margin: 0 4px;
  color: #ff4d4f;
  font-size: 14px;
}

.label-password {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 5px;
}

.item-avatar {
  width: 100%; 
  display: flex; 
  flex-direction: column;
}

.avatar-container {
  max-width: 400px;
  max-height: 400px;
  margin: 16px 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.save-image-button {
  height: 36px;
}

.hidden {
  display: none;
}

.choose-image-button {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 36px;
  color: white;
  padding: 4px 16px;
  background-color: #1890FF;
  border-radius: 32px;
  cursor: pointer;
  max-width: 125px;
}
