<div *ngIf="isShowTopnav">
  <div *ngIf="!hideMenuIcon" class="header">
    <div class="left-side">
      <img class="logo" src="../../../assets/img/logo-stayease.jpg" (click)="goHomePage()">
      <div class="menu-container" *ngFor="let item of menuList; let i = index">
        <div class="menu-item" [ngClass]="{'background-hilight': item.isSelected}" [routerLink]="item?.link" (click)="onSelectMenuItem(i)">{{item?.label}}</div>
      </div>
    </div>
    <div class="right-side">
      <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="languageDropdown" nzPlacement="bottomRight" style="margin-right: 16px;">
        <div class="label-language">
          <img [src]="iconLang" style="margin-right: 10px; height: 32px; width: 32px;" />{{language}}
        </div>
      </div>
      <nz-dropdown-menu #languageDropdown="nzDropdownMenu">
        <ul nz-menu>
          <li *ngFor="let lang of languageList" nz-menu-item (click)="onChangeLanguage(lang)" style="font-weight: 500;">
            <img [src]="lang.icon" style="margin-right: 10px; height: 32px; width: 32px;" />{{lang.label}}
          </li>
        </ul>
      </nz-dropdown-menu>
      <div class="user" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzPlacement="bottomRight">
        <img class="avatar-container" [src]="avatarUrl">
        <span style="font-weight: 500;">{{getLabelUser()}}</span>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li *ngIf="isAdmin" nz-menu-item (click)="onBtnUserList()" style="font-weight: 500;">
            <span nz-icon nzType="team" nzTheme="outline" style="margin-right: 10px;"></span>{{"userList.title" | translate}}
          </li>
          <li nz-menu-item (click)="onBtnProfile()" style="font-weight: 500;">
            <span nz-icon nzType="profile" nzTheme="outline" style="margin-right: 10px;"></span>{{"user.profileLabel" | translate}}
          </li>
          <li nz-menu-item (click)="onLogOut()" style="font-weight: 500;">
            <span nz-icon nzType="logout" nzTheme="outline" style="margin-right: 10px;"></span>{{"user.LogoutLabel" | translate}}
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <div *ngIf="hideMenuIcon" class="header">
    <div class="left-side">
      <img class="logo" src="../../../assets/img/logo-stayease.jpg" (click)="goHomePage()">
    </div>
    <div class="right-side">
      <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="languageDropdown" nzPlacement="bottomRight" style="margin-right: 16px;">
        <div class="label-language">
          <img [src]="iconLang" style="height: 32px; width: 32px;" />
        </div>
      </div>
      <nz-dropdown-menu #languageDropdown="nzDropdownMenu">
        <ul nz-menu>
          <li *ngFor="let lang of languageList" nz-menu-item (click)="onChangeLanguage(lang)" style="font-weight: 500;">
            <img [src]="lang.icon" style="margin-right: 10px; height: 32px; width: 32px;" />{{lang.label}}
          </li>
        </ul>
      </nz-dropdown-menu>
      <div nz-dropdown nzTrigger="click" [(nzVisible)]="hideMenu" [nzDropdownMenu]="menuDropdown" class="icon-menu">
        <span nz-icon nzType="menu" nzTheme="outline"></span>
      </div>
      <nz-dropdown-menu #menuDropdown="nzDropdownMenu">
        <div>
          <div *ngFor="let item of menuList; let i = index">
            <div class="menu-item-small" [ngClass]="{'background-hilight': item.isSelected}" [routerLink]="item?.link" (click)="onSelectMenuItem(i)">{{item?.label}}</div>
          </div>
          <div class="user-small" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzPlacement="bottomRight">
            <img class="avatar-container-small" [src]="avatarUrl">
            <span style="font-weight: 500;">{{getLabelUser()}}</span>
          </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="onBtnProfile()" style="font-weight: 500;">
                <span nz-icon nzType="profile" nzTheme="outline" style="margin-right: 10px;"></span>{{"user.profileLabel" | translate}}
              </li>
              <li nz-menu-item (click)="onLogOut()" style="font-weight: 500;">
                <span nz-icon nzType="logout" nzTheme="outline" style="margin-right: 10px;"></span>{{"user.LogoutLabel" | translate}}
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </nz-dropdown-menu>
      
    </div>
  </div>
</div>
<div class="header" *ngIf="!isShowTopnav" style="width: 100%; position: absolute;">
  <img class="logo" src="../../../assets/img/logo-stayease.jpg" (click)="goHomePage()">
  <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="languageDropdown" nzPlacement="bottomRight" style="margin-right: 24px;">
    <div class="label-language">
      <img [src]="iconLang" style="margin-right: 10px; height: 32px; width: 32px;" />{{language}}
    </div>
  </div>
  <nz-dropdown-menu #languageDropdown="nzDropdownMenu">
    <ul nz-menu>
      <li *ngFor="let lang of languageList" nz-menu-item (click)="onChangeLanguage(lang)" style="font-weight: 500;">
        <img [src]="lang.icon" style="margin-right: 10px; height: 32px; width: 32px;" />{{lang.label}}
      </li>
    </ul>
  </nz-dropdown-menu>
</div>