<div class="add-container">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
        <div class="item" nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="11">
            <div *ngFor="let user of selectedUserList; let i = index" class="user-selected">
                <div style="cursor: pointer;" (click)="viewUserDetail(user)">
                    <img class="avatar-container" [src]="getUserAvt(user)">
                    <span style="font-weight: 500;">{{user.name}}</span>
                </div>
                <div>
                    <span class="icon-delete-user" nz-icon nzType="delete" nz-tooltip [nzTooltipTitle]="'add.removeRenter' | translate" 
                    (click)="confirmDelete(user, i)"></span>
                </div>
            </div>
        </div>
    </div>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" style="width:100%;">
        <div class="item" nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="11">
            <div class="label">{{'add.searchRenter' | translate}}</div>
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input [placeholder]="'add.searchPlaceholder' | translate" 
                [(ngModel)]="searchInput" (keyup.enter)="onSearch()"/>
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <span *ngIf="searchInput" nz-icon nzType="close-circle" class="icon-delete" (click)="onClearInput()"></span>
                <span nz-icon nzType="search" style="cursor: pointer" (click)="onSearch()"></span>
            </ng-template>
        </div>
    </div>
    <div *ngIf="!isLoading">
        <div *ngIf="userList.length" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" class="user-list">
            <div *ngFor="let user of userList" class="user-more-info" nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="11">
                <div>
                    <div style="margin: 10px 0; width: 120px;">
                        <img class="user-avatar-info" [src]="getUserAvt(user)" (click)="viewUserDetail(user)">
                    </div>
                    <div>
                        <div style="margin-bottom: 10px;">
                            <span style="font-weight: 500; cursor: pointer;" (click)="viewUserDetail(user)">{{user.name}}</span>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <span style="font-weight: 500;">Email: </span><span>{{user.email}}</span>
                        </div>
                        <div>
                            <span style="font-weight: 500;">{{'add.phoneNumber' | translate}}: </span><span>{{user.phoneNumber}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="!user.isSelected" class="btn-container">
                    <div class="btn-add" (click)="addRenter(user)">
                        {{'add.addRenterButton' | translate}}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div *ngIf="isLoading" class="nodata"><nz-spin nzSimple [nzSize]="'large'"></nz-spin></div>

    <div class="pagination" *ngIf="userList.length">
        <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="total" [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate" [nzSize]="'small'"
        (nzPageIndexChange)="onChangePageIndex()"></nz-pagination>
        <ng-template #rangeTemplate let-range="range" let-total>
            {{ range[0] }}-{{ range[1] }} of {{ total }} {{'add.userLabel' | translate}}
        </ng-template>  
    </div>
</div>