<div class="header"><span>{{'list.title' | translate}}</span></div>
<div class="seperator"></div>
<div form-filter (onSearchEvent)="onSearchEvent($event)"></div>
<div class="seperator"></div>
<div class="content">
    <div class="sort">
        <div class="sort-label">{{'list.total' | translate}}: {{total}}</div>
        <div class="sort-label">
            <span style="width: 90px;">{{'list.sort' | translate}}</span>
            <nz-select [(ngModel)]="sortOrder" [nzOptions]="sortList" style="width:100%;" nzPlaceHolder="Price sort" 
                (ngModelChange)="onChangeSortOrder()"></nz-select>
        </div>
    </div>

    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 16, lg: 16 }" class="result">
        <ng-container *ngFor="let motel of products">
            <div nz-col class="gutter-row" nzXs="24" nzMd="12" nzXl="8" nzXXl="6" (click)="setActiveProduct(motel)">
                <img class="avatar-container" [src]="getMotelData('image', motel)">
                <div><span class="label">{{'list.name' | translate}}: </span>{{getMotelData('name', motel)}}</div>
                <div>
                    <span class="label">{{'list.status' | translate}}: </span>
                    <nz-tag class="tag-status" [nzColor]="getTagColor(motel)">{{getMotelData('roomStatus', motel)}}</nz-tag>
                </div>
                <div><span class="label">{{'list.type' | translate}}: </span>{{getMotelData('roomType', motel)}}</div>
                <div><span class="label">{{'list.location' | translate}}: </span>{{getMotelData('location', motel)}}</div>
                <div><span class="label">{{'list.labelPrice' | translate}}: </span>{{getMotelData('price', motel)}}</div>
                <div><span class="label">{{'list.rateLabel' | translate}}: </span>{{getMotelData('rate', motel)}}</div>
            </div>
        </ng-container>
        <div *ngIf="!total" style="display: flex; justify-content: center; width: 100%;">
            <nz-result nzStatus="404" [nzTitle]="'list.foundNoItem' | translate" 
            [nzSubTitle]="'list.foundNoItemContent' | translate">
            </nz-result>
        </div>
    </div>

    <div *ngIf="isLoading" class="nodata"><nz-spin nzSimple [nzSize]="'large'"></nz-spin></div>

    <div class="pagination" *ngIf="products.length">
        <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="total" [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate" [nzSize]="'small'"
        (nzPageIndexChange)="onChangePageIndex()"></nz-pagination>
        <ng-template #rangeTemplate let-range="range" let-total>
            {{ range[0] }}-{{ range[1] }} of {{ total }} {{'list.items' | translate}}
        </ng-template>  
    </div>
</div>