<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }" class="content">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" class="form-container">
    <div class="title">Reset your password</div>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <ng-container *ngFor="let key of ['password']">
        <div class="text-bold">Password</div>
        <div class="label-password">* Password should contain at least 8 characters including at least 1 lowercase letter, 1 capital letter, 1 number, and 1 special character</div>
        <nz-form-item class="form-item">
          <nz-form-control nzErrorTip="Please input your password!">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
              <input [type]="isShowPassword ? 'text' : 'password'" nz-input [formControlName]="key" placeholder="Password" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span nz-icon [nzType]="isShowPassword ? 'eye-invisible' : 'eye'" (click)="isShowPassword = !isShowPassword"></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <ng-container *ngFor="let key of ['confirmPassword']">
        <div class="text-bold label">Confirm password</div>
        <nz-form-item class="form-item">
          <nz-form-control nzErrorTip="Please input your confirm password!">
            <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
              <input [type]="isShowPassword ? 'text' : 'password'" nz-input [formControlName]="key" placeholder="Confirm password" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span nz-icon [nzType]="isShowPassword ? 'eye-invisible' : 'eye'" (click)="isShowPassword = !isShowPassword"></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <button nz-button class="text-bold login-form-button login-form-margin" [nzType]="'primary'">Submit</button>
      Or
      <span class="register-button text-bold" (click)="onLoginBtn()">login now!</span>
    </form>
  </div>
</div>