.content {
  height: 100vh;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  min-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-height: 640px;
  max-width: 400px;
  border-radius: 8px;
  padding: 24px !important;
}

.register-button {
  text-decoration: underline;
  cursor: pointer;
}

.title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}

.label {
  margin-bottom: 5px;
}

.label-password {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 5px;
}

.text-bold {
  font-weight: 500;
}

.input-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.motel-input {
  padding-left: 0 !important;
}

.date-input {
  padding-right: 0 !important;
}

.add-button {
  display: flex;
  margin-bottom: 16px;
}

.add-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 8px;
}

.add-label {
  cursor: pointer;
}

.disabled {
  color: #8d8d8d;
  cursor: not-allowed;
}

.payment-list {
  max-height: 120px;
  overflow: auto;
  margin-bottom: 8px;
  width: 100%;
}

.payment-item {
  background-color: #f1f5f9;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 8px;
}

.button-payment {
  display: flex;
}

.btn-edit {
  cursor: pointer;
}

.btn-delete {
  cursor: pointer;
  margin-left: 10px; 
  color: #ff4d4f;
}

::ng-deep .ant-form-item {
  margin: 0 !important;
}